@font-face {
    font-family: "Avenir Light";
    src: url("../../fonts/AvenirLTStd-Light.otf");
    font-weight: 300;
}

@font-face{
    font-family: 'Operetta 18 Black';
    src: url("../../fonts/Operetta18-ExtraLight.ttf");
    font-weight: 900;
}